.h2 {
  font-size: var(--font-size-preset1);
  font-weight: var(--font-weight-preset1);
  line-height: var(--line-height-preset1);
  color: var(--color-rose-900);
  margin: var(--spacing-300);
}

.container {
  margin-top: var(--spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

@media (min-width: 43rem) {
  .h2 {
    margin-top: var(--spacing-500);
    margin-inline: var(--spacing-500);
    margin-bottom: var(--spacing-400);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-300);
    row-gap: var(--spacing-400);
  }
}
