.main {
  max-width: 76rem;
  margin-inline: auto;
}

@media (min-width: 80rem) {
  .main {
    display: grid;
    grid-template-columns: 800fr 384fr;
    column-gap: var(--spacing-400);
    grid-auto-rows: min-content;
  }
}
