.article {
  background-color: var(--color-rose-50);
  padding: var(--spacing-100) var(--spacing-300) var(--spacing-300);
  margin-top: var(--spacing-400);

  border-radius: var(--spacing-100);
}

.h5 {
  margin-top: var(--spacing-300);
  font-size: var(--font-size-preset4);
  font-weight: var(--font-weight-preset4);
  line-height: var(--line-height-preset4);
  color: var(--color-rose-900);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  display: block;
  font-size: var(--font-size-preset2);
  font-weight: var(--font-weight-preset2);
  line-height: var(--line-height-preset2);
}
