.h4 {
  font-size: var(--font-size-preset4);
  font-weight: var(--font-weight-preset4);
  line-height: var(--line-height-preset4);
  color: var(--color-rose-900);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--spacing-300);
}

.span {
  display: block;

  font-size: var(--font-size-preset2);
  font-weight: var(--font-weight-preset2);
  line-height: var(--line-height-preset2);
}

.carbonNeutral {
  margin-top: var(--spacing-200);
  padding: var(--spacing-200) 22px;

  background-color: var(--color-rose-50);

  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.p {
  font-size: var(--font-size-preset4);
  font-weight: var(--font-size-preset4);
  line-height: var(--line-height-preset4);
  color: var(--color-rose-900);
}

.bold {
  font-weight: var(--font-weight-preset4-bold);
}

.btn {
  margin-top: var(--spacing-300);
  width: 100%;
  background-color: var(--color-red);
  border: none;

  padding: var(--spacing-200) 0;
  border-radius: 100px;

  color: var(--color-white);
  font-size: var(--font-size-preset3);
  font-weight: var(--font-weight-preset3);
  line-height: var(--line-height-preset3);
}
