.container {
  background-color: var(--color-white);
  margin: var(--spacing-300);
  margin-top: var(--spacing-400);
}

.h3 {
  padding: var(--spacing-300);
  color: var(--color-red);

  font-size: var(--font-size-preset2);
  font-weight: var(--font-weight-preset2);
  line-height: var(--line-height-preset2);
  color: var(--color-red);
}

.article {
  padding-inline: var(--spacing-300);
  padding-bottom: var(--spacing-300);
}

@media (min-width: 80rem) {
  .container {
    margin: 0;
    margin-top: 88px;
    align-self: start;
  }
}
