.button {
  cursor: pointer;
  border-radius: 100px;
  padding: 12px 28px;

  background-color: var(--color-white);
  border: 1px solid var(--color-rose-400);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover,
.button:active {
  color: var(--color-red);
  border-color: var(--color-red);
}

.span {
  display: block;
  font-size: var(--font-size-preset4);
  font-weight: var(--font-weight-preset4-bold);
  line-height: var(--line-height-preset4);
}

@media (min-width: 767px) {
  .button {
    min-width: 170px;
  }
}
